<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="/img/save.svg">
    <title>websave</title>
    <link rel="stylesheet" href="/css/index.css" />
    <script src="https://kit.fontawesome.com/d2d5e3dfd7.js" crossorigin="anonymous"></script>
</head>
<body>
    {{{body}}}
    <script src="/js/script.js"></script>
</body>
</html>

