<header>
  <a href="/" class="logo">
    <i class="fa-solid fa-floppy-disk"></i>
    <h1>websave</h1>
  </a>
  <div class="search-new">
    <form action="">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" id="searchInput" placeholder="Search here..." />
    </form>
    <div class="new" id="newProjectBtn">
      <i class="fa-solid fa-plus"></i>
      <p>New project</p>
    </di>
  </div>
</header>

<main>
  <ul>
    {{#each projects}}
      <li>
        <a href="/project/{{this._id}}">
          <i class="fa-solid fa-folder"></i>
          <h2>{{this.title}}</h2>
          <p>5 versions</p>
        </a>
      </li>
    {{/each}}
  </ul>
</main>

<div id="projectPopup" class="projectpopup">
  <form action="/new" method="post">
    <input
      type="text"
      name="title"
      id="title"
      placeholder="Project name..."
      required
    />
    <div>
      <p id="cancelBtn">Cancel</p>
      <button type="submit">Save</button>
    </div>
  </form>
</div>